<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" routerLink="dashboard">Beneficio-APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="cadbeneficio">Cadastrar Beneficio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="beneficio">Gerenciar Beneficio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Servidor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orgao</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Setor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categoria</a>
      </li>
    </ul>
  </div>

</div>
</nav>